#harvestSeason {
  @keyframes toOpac {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
  .slider-component__plug {
    display: none;
    &.show {
      display: flex;
    }
  }
  position: relative;
  height: 0%;
  padding-top: calc(100vh - 64px);
  background-color: #ddd9cf;

  #harvestSeasonSlider {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }

  #harvestSeasonContainer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease;
    background-color: #fff;
    overflow: hidden;
  }
  .harvest-season__slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;
  }
  #harvestSeasonContainer {
    &[data-step="1"] [data-slide="1"],
    &[data-step="2"] [data-slide="2"],
    &[data-step="3"] [data-slide="2"],
    &[data-step="4"] [data-slide="3"],
    &[data-step="5"] [data-slide="3"],
    &[data-step="6"] [data-slide="4"],
    &[data-step="7"] [data-slide="4"],
    &[data-step="8"] [data-slide="5"],
    &[data-step="9"] [data-slide="5"],
    &[data-step="10"] [data-slide="6"],
    &[data-step="11"] [data-slide="6"],
    &[data-step="12"] [data-slide="7"],
    &[data-step="13"] [data-slide="7"],
    &[data-step="14"] [data-slide="8"],
    &[data-step="15"] [data-slide="8"],
    &[data-step="16"] [data-slide="9"],
    &[data-step="17"] [data-slide="9"],
    &[data-step="18"] [data-slide="10"],
    &[data-step="19"] [data-slide="10"] {
      opacity: 1;
      visibility: visible;
    }
  }

  .main-slide {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: #ddd9cf;
  }
  .main-slide__images {
    flex: 0 0 45%;
    display: flex;
    align-items: flex-start;
    gap: calc($index * 0.9);
  }
  .main-slide__image {
    width: calc($index * 9.3);
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0.3;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .images-col {
    &:nth-of-type(2) {
      margin-top: calc($index * 2.17);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc($index * 0.9);

    &:nth-of-type(1) {
      .main-slide__image:nth-of-type(1) {
        height: calc($index * 11.78);
        transform: scale(1.5) translate3d(-85%, -85%, 0);
      }
      .main-slide__image:nth-of-type(2) {
        height: calc($index * 8.85);
        transform: scale(1.2) translate3d(-85%, 0%, 0);
      }
      .main-slide__image:nth-of-type(3) {
        height: calc($index * 6.54);
        transform: scale(1.5) translate3d(-85%, 85%, 0);
      }
    }

    &:nth-of-type(2) {
      .main-slide__image:nth-of-type(1) {
        height: calc($index * 7.22);
        transform: scale(1.5) translate3d(0, -85%, 0);
      }
      .main-slide__image:nth-of-type(2) {
        height: calc($index * 7.54);
        transform: scale(1.2) translate3d(0, 0, 0);
      }
      .main-slide__image:nth-of-type(3) {
        height: calc($index * 6.95);
        transform: scale(1.5) translate3d(0, 85%, 0);
      }
    }

    &:nth-of-type(3) {
      .main-slide__image:nth-of-type(1) {
        height: calc($index * 7.63);
        transform: scale(1.5) translate3d(85%, -85%, 0);
      }
      .main-slide__image:nth-of-type(2) {
        height: calc($index * 11.42);
        transform: scale(1.2) translate3d(85%, 0%, 0);
      }
      .main-slide__image:nth-of-type(3) {
        height: calc($index * 7.22);
        transform: scale(1.5) translate3d(85%, 85%, 0);
      }
    }
  }

  .main-slide__content {
    padding-left: calc($index * 2.95);
    padding-top: calc($index * 10.75);
    transform: translate3d(30%, 0, 0);
    opacity: 0.3;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  }

  .main-slide__title {
    font-family: "Sylfaen";
    font-style: normal;
    font-weight: 400;
    font-size: calc($index * 3.17);
    line-height: 107%;
    letter-spacing: 1px;
    color: #22211e;
    margin-bottom: calc($index * 1.22);
  }

  .main-slide__descr {
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 400;
    font-size: calc($index * 0.9);
    line-height: 150%;
    color: #22211e;
    max-width: calc($index * 28.26);
  }

  #harvestSeasonContainer {
    &[data-step="1"] {
      .main-slide__image,
      .main-slide__content {
        transform: scale(1) translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }

  .nameplate__auth {
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: 700;
    font-size: calc($index * 0.81);
    color: #22211e;
    margin-bottom: calc($index * 0.4);
  }
  .nameplate__name {
    font-family: "Sylfaen";
    font-weight: 400;
    font-size: calc($index * 0.81);
    line-height: 117%;
    letter-spacing: 1px;
    color: #22211e;
    text-transform: uppercase;
    margin-bottom: calc($index * 0.4);
  }
  .nameplate__date {
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 1.88px;
    color: #22211e;
  }
  .briliant__info {
    display: flex;
    gap: calc($index * 0.4);
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 400;
    font-size: calc($index * 0.63);
    margin-bottom: calc($index * 0.4);
    line-height: 116%;
    color: #22211e;
  }
  .cursive-bold {
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: 700;
    font-size: calc($index * 0.63);
    line-height: 116%;
    color: #22211e;
  }

  .slide-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  [data-slide="2"] {
    .painting {
      transition: width 0.8s ease;
      z-index: 2;
      background-color: #ddd9cf;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
    }
    .painting__image {
      transition: top 0.6s ease-in-out, top 0.6s ease-in-out,
        left 0.6s ease-in-out, right 0.6s ease-in-out, bottom 0.6s ease-in-out;
      position: absolute;
      opacity: 0;
      z-index: 3;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .painting__nameplate {
      z-index: 1;
      position: absolute;
      top: calc($index * 2.54);
      left: calc($index * 51.72);
      &.step-2 {
        top: calc($index * 24.86);
        left: calc($index * 4.08);
      }
    }

    .briliant {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity 0.6s ease-in-out;
    }

    .briliant__image {
      position: absolute;
      top: calc($index * 5.44);
      left: calc($index * 3.5);
      width: calc($index * 14.97);
      height: calc($index * 10.43);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .briliant__nameplate {
      position: absolute;
      top: calc($index * 17.42);
      left: calc($index * 4.63);
    }
  }
  .harvest-season__wrapper {
    background-color: #ddd9cf;
  }

  .harvest-season__slides[data-step="2"] [data-slide="2"] {
    .painting {
      width: 100%;
    }
    .painting__image {
      transition: top 0.6s ease-in-out, top 0.6s ease-in-out,
        left 0.6s ease-in-out, right 0.6s ease-in-out, bottom 0.6s ease-in-out,
        opacity 0.6s ease-in-out;
      top: 0;
      left: 0;
      bottom: 0;
      right: calc($index * 19.14);
      opacity: 1;
    }
    .painting__nameplate {
      opacity: 1;
      transition: opacity 0.6s ease-in-out 0.5s;
      &.step-2 {
        display: none;
      }
    }
    .briliant {
      opacity: 0;
    }
  }
  .harvest-season__slides[data-step="3"] [data-slide="2"] {
    .painting {
      width: 62.5%;
    }
    .painting__image {
      top: calc($index * 2.54);
      left: calc($index * 28.58);
      bottom: calc($index * 7.44);
      right: calc($index * 4.08);
      opacity: 1;
    }
    .painting__nameplate {
      opacity: 0;
      &.step-2 {
        animation: toOpac 0.6s ease-in-out forwards 0.5s;
      }
    }
    .briliant {
      opacity: 1;
    }
  }

  [data-slide="3"] {
    .painting {
      position: absolute;
      height: 100%;
      background-color: #ddd9cf;
      transition: width 0.6s ease 0.3s, transform 0.6s ease-in-out;
      z-index: 2;
      transform: translateX(50%);
    }
    .painting__image {
      transition: top 0.6s ease-in-out, bottom 0.6s ease-in-out,
        right 0.6s ease-in-out, left 0.6s ease-in-out;
      position: absolute;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      opacity: 0;
    }
    .painting__nameplate {
      z-index: 5;
      position: absolute;
      left: calc($index * 4.63);
      top: calc($index * 1.81);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    .briliant {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.6s ease-in-out;
    }

    .briliant__image {
      position: absolute;
      left: calc($index * 45);
      top: calc($index * 12.7);
      width: calc($index * 14.97);
      height: calc($index * 8.62);
      img {
        width: 100%;
        height: 100%;
        object-position: cover;
      }
    }
    .briliant__nameplate {
      position: absolute;
      bottom: calc($index * 6.58);
      left: calc($index * 45.87);
    }
  }

  .harvest-season__slides[data-step="4"] [data-slide="3"] {
    .painting {
      width: 100%;
      transform: translateX(0%);
    }
    .painting__image {
      top: 0;
      bottom: 0;
      right: 0;
      left: calc($index * 21.8);
      z-index: 4;
      opacity: 1;
      transition: top 0.6s ease-in-out, bottom 0.6s ease-in-out,
        right 0.6s ease-in-out, left 0.6s ease-in-out, opacity 0.6s ease-in-out;
    }
    .painting__nameplate {
      opacity: 1;
    }
  }

  .harvest-season__slides[data-step="5"] [data-slide="3"] {
    .painting {
      width: 62.3%;
      transform: translateX(0%);
    }
    .painting__image {
      top: calc($index * 6.62);
      left: calc($index * 4.63);
      bottom: calc($index * 4);
      right: calc($index * 31);
      z-index: 4;
      transition: top 0.6s ease-in-out, bottom 0.6s ease-in-out,
        right 0.6s ease-in-out, left 0.6s ease-in-out, opacity 0.6s ease-in-out;
      opacity: 1;
    }
    .painting__nameplate {
      opacity: 1;
    }
    .briliant {
      transition: opacity 0.6s ease-in-out 0.4s;
      opacity: 1;
    }
  }

  [data-slide="4"] {
    .painting {
      position: absolute;
      right: 0;
      height: 100%;
      background-color: #fff;
      z-index: 3;
    }
    .painting__image {
      transition: top 0.6s ease-in-out, bottom 0.6s ease-in-out,
        right 0.6s ease-in-out, left 0.6s ease-in-out;
      position: absolute;
      z-index: 3;
      opacity: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .painting__nameplate {
      z-index: 5;
      position: absolute;
      left: calc($index * 52.22);
      top: calc($index * 2.27);
      opacity: 0;
      transition: opacity 0.3s ease-in-out, left 0.6s ease-in-out;
    }
    .briliant {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: #ddd9cf;
      opacity: 0;
      transition: opacity 0.6s ease-in-out;
    }

    .briliant__image {
      position: absolute;
      left: calc($index * 2.12);
      top: calc($index * 2.62);
      width: calc($index * 16);
      height: calc($index * 13);
      img {
        width: 100%;
        height: 100%;
        object-position: cover;
      }
    }
    .briliant__nameplate {
      position: absolute;
      bottom: calc($index * 12.75);
      left: calc($index * 3.62);
    }
  }

  .harvest-season__slides[data-step="6"] [data-slide="4"] {
    .painting {
      width: 100%;
      transition: width 0.3s ease-in-out;
    }

    .painting__image {
      left: calc($index * 15.56);
      right: calc($index * 15.56);
      top: 0;
      bottom: 0;
      opacity: 1;
    }

    .painting__nameplate {
      opacity: 1;
    }
  }

  .harvest-season__slides[data-step="7"] [data-slide="4"] {
    .painting {
      width: 66.6%;
    }
    .briliant {
      opacity: 1;
    }
    .painting__image {
      left: calc($index * 25);
      right: calc($index * 13.15);
      top: calc($index * 2.22);
      bottom: calc($index * 3.67);
      opacity: 1;
    }
    .painting__nameplate {
      left: calc($index * 54.44);
      top: calc($index * 2.27);
      opacity: 1;
    }
  }
}

.asd {
  font-size: 22.04;
}
